.header {
  background-color: #fff;
  border-bottom: 1px solid #EBEDEF;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.header__menu {
  display: none;
}

.header__link {
  position: relative;
  display: block;
  font-weight: bold;
  .transition();
  
  span,
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  
  svg {
    width: 10px;
    height: 6px;
    margin-left: 11px;
    fill: #99A3AE;
    .transition();
  }
  
  &:hover,
  &:active {
    color: @blue;
    .transition();
    
    svg {
      fill: @blue;
      .transition();
    }
  }
}

.header__block--btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__icon {
  width: 48px;
  height: 48px;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E0E4E7;
  border-radius: 50%;
  .transition();
  
  svg {
    fill: #99A3AE;
    .transition();
  }
  
  &:hover,
  &:active {
    border-color: @blue;
    
    svg {
      fill: @blue;
      .transition();
    }
  }
}

.header__user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__lang {
  display: flex;
  justify-content: center;
  margin-left: 31px;
  border: 1px solid #EBEDEF;
  border-radius: 4px;
}

.header__lang-btn {
  width: 45px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: @blue;
  border-right: 1px solid #EBEDEF;
  
  &:last-of-type {
    border-right: 0;
  }
  
  &--active {
    color: #99A3AE;
    pointer-events: none;
  }
}

.header__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-left: 14px;
  margin-right: 14px;
  .transition();
  
  span {
    position: absolute;
    z-index: 2;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background-color: @red;
    border-radius: 50%;
  }
  
  svg {
    fill: #99A3AE;
  }
  
  &--active svg {
    fill: #4C5E70;
  }
  
  &:hover,
  &:active {
    svg {
      fill: @blue;
      .transition();
    }
  }
}

.logo img {
  display: block;
  max-width: 200px;
  height: auto;
}
