.search {
  display: flex;
  justify-content: center;
//  border: 1px solid #EBEDEF;
  border-radius: 3px;
  background-color: #EBEDEF;
}

.search__input {
  display: block;
  width: 230px;
  height: 35px;
  padding: 0 10px;
  background-color: rgba(255,255,255,0);
  
  &::placeholder {
    color: #99A3AE;
    opacity: 1;
  }
}

.search__btn {
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  svg {
    width: 24px;
    height: 24px;
    fill: #99A3AE;
    .transition();
  }
  
  &:hover,
  &:active {
    svg {
      fill: @blue;
      .transition();
    }
  }
}
